In [1]:
import pandas as pd
import numpy as np

In [2]:

import numpy as np
import pandas as pd
import seaborn as sns
import ast


import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv(r'C:\Users\my pc\OneDrive\Desktop\tmdb_all_data.csv')

In [4]:
data.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
adult,FALSE,FALSE,FALSE,FALSE,FALSE
backdrop_path,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,/u0zMKKpEdDWpOKmFW2sLbKKICJH.jpg,/5aXp2s4l6g5PcMMesIj63mx8hmJ.jpg,NaN
belongs_to_collection,NaN,NaN,NaN,NaN,NaN
budget,0,0,4000000,21000000,42000
genres,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...","[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 99, 'name': 'Documentary'}]"
homepage,NaN,NaN,NaN,NaN,http://www.lifeinloops.com
id,2,3,5,6,8
imdb_id,tt0094675,tt0092149,tt0113101,tt0107286,tt0825671
original_language,fi,fi,en,en,en
original_title,Ariel,Varjoja paratiisissa,Four Rooms,Judgment Night,Life in Loops (A Megacities RMX)
overview,Taisto Kasurinen is a Finnish coal miner whose...,"An episode in the life of Nikander, a garbage ...",It's Ted the Bellhop's first night on the job....,"While racing to a boxing match, Frank, Mike, J...",Timo Novotny labels his new project an experim...
popularity,6.656,6.205,8.307,6.944,1.652
poster_path,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,/rYFAvSPlQUCebayLcxyK79yvtvV.jpg,/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg
production_companies,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'id': 19123, 'logo_path': None, 'name': 'inL..."
production_countries,"[{'iso_3166_1': 'FI', 'name': 'Finland'}]","[{'iso_3166_1': 'FI', 'name': 'Finland'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...","[{'iso_3166_1': 'AT', 'name': 'Austria'}]"
release_date,21/10/1988,17/10/1986,09/12/1995,15/10/1993,01/01/2006
revenue,0,0,4.25735e+06,1.21369e+07,0
runtime,73,74,98,110,80
spoken_languages,"[{'english_name': 'German', 'iso_639_1': 'de',...","[{'english_name': 'English', 'iso_639_1': 'en'...","[{'english_name': 'English', 'iso_639_1': 'en'...","[{'english_name': 'English', 'iso_639_1': 'en'...","[{'english_name': 'English', 'iso_639_1': 'en'..."
status,Released,Released,Released,Released,Released
tagline,NaN,NaN,Twelve outrageous guests. Four scandalous requ...,Don't move. Don't whisper. Don't even breathe.,A Megacities remix.
title,Ariel,Shadows in Paradise,Four Rooms,Judgment Night,Life in Loops (A Megacities RMX)
video,False,False,False,False,False
vote_average,6.8,7.2,5.7,6.4,7.4
vote_count,134,132,1936,191,14

In [5]:
data.shape

(656075, 26)

IN THIS DATA THERE ARE 656075 ROWS AND 26 COLUMNS

In [6]:
data.columns

Index(['Unnamed: 0', 'adult', 'backdrop_path', 'belongs_to_collection',
       'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

In [7]:
data.describe()

                  id       revenue       runtime   vote_average     vote_count
count  651092.000000  6.492480e+05  5.896070e+05  649248.000000  649248.000000
mean   443798.018193  1.824606e+06  2.298242e+02       2.390250      24.031948
std    233939.433421  6.704798e+08  9.272778e+04       3.182845     335.279261
min         0.000000 -1.200000e+01  0.000000e+00       0.000000       0.000000
25%    268323.500000  0.000000e+00  7.000000e+00       0.000000       0.000000
50%    455950.500000  0.000000e+00  6.000000e+01       0.000000       0.000000
75%    642135.250000  0.000000e+00  9.300000e+01       5.600000       2.000000
max    830316.000000  5.400000e+11  5.050505e+07      10.000000   29038.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656075 entries, 0 to 656074
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             656075 non-null  object
 1   adult                  651220 non-null  object
 2   backdrop_path          162732 non-null  object
 3   belongs_to_collection  16765 non-null   object
 4   budget                 651220 non-null  object
 5   genres                 650988 non-null  object
 6   homepage               72068 non-null   object
 7   id                     651092 non-null  float64
 8   imdb_id                430962 non-null  object
 9   original_language      651220 non-null  object
 10  original_title         650355 non-null  object
 11  overview               542709 non-null  object
 12  popularity             650234 non-null  object
 13  poster_path            431989 non-null  object
 14  production_companies   650234 non-null  object
 15  production_countries   649248 non-null  object
 16  release_date           592239 non-null  object
 17  revenue                649248 non-null  float64
 18  runtime                589607 non-null  float64
 19  spoken_languages       649248 non-null  object
 20  status                 649248 non-null  object
 21  tagline                92395 non-null   object
 22  title                  649245 non-null  object
 23  video                  649248 non-null  object
 24  vote_average           649248 non-null  float64
 25  vote_count             649248 non-null  float64
dtypes: float64(5), object(21)
memory usage: 130.1+ MB

# FINDING NULL VALUES

In [9]:
data.isnull().sum().sum()

3069865

PERCENTAGE OF NULL VALUES

In [10]:
data.isnull().sum()/len(data)*100

Unnamed: 0                0.000000
adult                     0.740007
backdrop_path            75.196128
belongs_to_collection    97.444652
budget                    0.740007
genres                    0.775369
homepage                 89.015280
id                        0.759517
imdb_id                  34.312083
original_language         0.740007
original_title            0.871852
overview                 17.279427
popularity                0.890295
poster_path              34.155546
production_companies      0.890295
production_countries      1.040582
release_date              9.729985
revenue                   1.040582
runtime                  10.131159
spoken_languages          1.040582
status                    1.040582
tagline                  85.917006
title                     1.041040
video                     1.040582
vote_average              1.040582
vote_count                1.040582
dtype: float64

belongs_to_collection,homepage,tagline,backdrop_path Has More Null Values.

In [11]:
data['revenue'].value_counts()

0.000000e+00    635334
1.000000e+00       120
5.000000e+02        95
1.000000e+02        84
1.000000e+05        79
                 ...
1.303460e+09         1
1.988800e+04         1
5.090852e+06         1
8.145216e+07         1
1.342121e+08         1
Name: revenue, Length: 11170, dtype: int64

In [12]:
data.head(3)

,Unnamed: 0,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,FALSE,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,2.0,tt0094675,fi,...,21/10/1988,0.0,73.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Ariel,False,6.8,134.0
1,1,FALSE,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,3.0,tt0092149,fi,...,17/10/1986,0.0,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Shadows in Paradise,False,7.2,132.0
2,2,FALSE,/u0zMKKpEdDWpOKmFW2sLbKKICJH.jpg,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5.0,tt0113101,en,...,09/12/1995,4257354.0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,5.7,1936.0

# NULL VALUE IMPUTATION :

Belongs_to_collection,homepage,tagline,backdrop_path has More null values droping these columns

In [13]:
data=data.drop(['belongs_to_collection'],axis=1)
data=data.drop(['homepage'],axis=1)
data=data.drop(['tagline'],axis=1)
data=data.drop(['backdrop_path'],axis=1)
data=data.drop(['adult'],axis=1)
data=data.drop(['Unnamed: 0'],axis=1)

data.head()

,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count
0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",2.0,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,6.656,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",21/10/1988,0.0,73.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,Ariel,False,6.8,134.0
1,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",3.0,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.205,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",17/10/1986,0.0,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Shadows in Paradise,False,7.2,132.0
2,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5.0,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,8.307,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",09/12/1995,4257354.0,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Four Rooms,False,5.7,1936.0
3,21000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",6.0,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",6.944,/rYFAvSPlQUCebayLcxyK79yvtvV.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",15/10/1993,12136938.0,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Judgment Night,False,6.4,191.0
4,42000,"[{'id': 99, 'name': 'Documentary'}]",8.0,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.652,/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg,"[{'id': 19123, 'logo_path': None, 'name': 'inL...","[{'iso_3166_1': 'AT', 'name': 'Austria'}]",01/01/2006,0.0,80.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Life in Loops (A Megacities RMX),False,7.4,14.0

In [14]:
data.isnull().sum()/len(data)*100

budget                   0.740007
genres                   0.775369
id                       0.759517
imdb_id                 34.312083
original_language        0.740007
original_title           0.871852
overview                17.279427
popularity               0.890295
poster_path             34.155546
production_companies     0.890295
production_countries     1.040582
release_date             9.729985
revenue                  1.040582
runtime                 10.131159
spoken_languages         1.040582
status                   1.040582
title                    1.041040
video                    1.040582
vote_average             1.040582
vote_count               1.040582
dtype: float64

In [15]:
data.shape

(656075, 20)

# DATA PREPROCESSING

In [16]:
data['release_date']=pd.to_datetime(data['release_date'])

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656075 entries, 0 to 656074
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   budget                651220 non-null  object
 1   genres                650988 non-null  object
 2   id                    651092 non-null  float64
 3   imdb_id               430962 non-null  object
 4   original_language     651220 non-null  object
 5   original_title        650355 non-null  object
 6   overview              542709 non-null  object
 7   popularity            650234 non-null  object
 8   poster_path           431989 non-null  object
 9   production_companies  650234 non-null  object
 10  production_countries  649248 non-null  object
 11  release_date          592239 non-null  datetime64[ns]
 12  revenue               649248 non-null  float64
 13  runtime               589607 non-null  float64
 14  spoken_languages      649248 non-null  object
 15  status                649248 non-null  object
 16  title                 649245 non-null  object
 17  video                 649248 non-null  object
 18  vote_average          649248 non-null  float64
 19  vote_count            649248 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(14)
memory usage: 100.1+ MB

In [18]:
data['release_year'] = pd.DatetimeIndex(data['release_date']).year
data['release_month'] =pd.DatetimeIndex(data['release_date']).month
data['release_day'] = pd.DatetimeIndex(data['release_date']).day

In [19]:
data.shape

(656075, 23)

In [20]:
data.head()

,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,title,video,vote_average,vote_count,release_year,release_month,release_day
0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",2.0,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,6.656,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...",...,73.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,Ariel,False,6.8,134.0,1988.0,10.0,21.0
1,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",3.0,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.205,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...",...,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Shadows in Paradise,False,7.2,132.0,1986.0,10.0,17.0
2,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5.0,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,8.307,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...",...,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Four Rooms,False,5.7,1936.0,1995.0,9.0,12.0
3,21000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",6.0,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",6.944,/rYFAvSPlQUCebayLcxyK79yvtvV.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...",...,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Judgment Night,False,6.4,191.0,1993.0,10.0,15.0
4,42000,"[{'id': 99, 'name': 'Documentary'}]",8.0,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.652,/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg,"[{'id': 19123, 'logo_path': None, 'name': 'inL...",...,80.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Life in Loops (A Megacities RMX),False,7.4,14.0,2006.0,1.0,1.0

In [21]:
data=data.drop(['poster_path'],axis=1)
data=data.drop(['release_date'],axis=1)

In [22]:
data.head()

,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,title,video,vote_average,vote_count,release_year,release_month,release_day
0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",2.0,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,6.656,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",...,73.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,Ariel,False,6.8,134.0,1988.0,10.0,21.0
1,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",3.0,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.205,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",...,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Shadows in Paradise,False,7.2,132.0,1986.0,10.0,17.0
2,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5.0,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,8.307,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Four Rooms,False,5.7,1936.0,1995.0,9.0,12.0
3,21000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",6.0,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",6.944,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",...,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Judgment Night,False,6.4,191.0,1993.0,10.0,15.0
4,42000,"[{'id': 99, 'name': 'Documentary'}]",8.0,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.652,"[{'id': 19123, 'logo_path': None, 'name': 'inL...","[{'iso_3166_1': 'AT', 'name': 'Austria'}]",...,80.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Life in Loops (A Megacities RMX),False,7.4,14.0,2006.0,1.0,1.0

In [23]:
data.columns

Index(['budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'revenue', 'runtime', 'spoken_languages',
       'status', 'title', 'video', 'vote_average', 'vote_count',
       'release_year', 'release_month', 'release_day'],
      dtype='object')

In [24]:
all_genres = []
for genre_dict in data['genres']:
   
    try:
        list_represenation = ast.literal_eval(genre_dict)
        genre_list = [ele['name'] for ele in list_represenation]
        all_genres = all_genres + [genre_list]
       
    except:
        genre_list = ['not_found']
        all_genres = all_genres + [genre_list]

In [26]:
data['genres']=all_genres

In [30]:
data

,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,title,video,vote_average,vote_count,release_year,release_month,release_day
0,0,"[Drama, Crime, Comedy]",2.0,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,6.656,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",...,73.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,Ariel,False,6.8,134.0,1988.0,10.0,21.0
1,0,"[Drama, Comedy]",3.0,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.205,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",...,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Shadows in Paradise,False,7.2,132.0,1986.0,10.0,17.0
2,4000000,"[Crime, Comedy]",5.0,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,8.307,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",...,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Four Rooms,False,5.7,1936.0,1995.0,9.0,12.0
3,21000000,"[Action, Thriller, Crime]",6.0,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",6.944,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",...,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Judgment Night,False,6.4,191.0,1993.0,10.0,15.0
4,42000,[Documentary],8.0,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.652,"[{'id': 19123, 'logo_path': None, 'name': 'inL...","[{'iso_3166_1': 'AT', 'name': 'Austria'}]",...,80.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Life in Loops (A Megacities RMX),False,7.4,14.0,2006.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656070,0,[],830312.0,NaN,en,The Place,The Place is Short Film About Palestine,0,[],[],...,2.0,[],Released,The Place,False,0.0,0.0,NaN,NaN,NaN
656071,0,[],830313.0,tt0126392,en,My Mother's Early Lovers,A young woman explores her mother's past and u...,0,[],[],...,105.0,[],Released,My Mother's Early Lovers,False,0.0,0.0,NaN,NaN,NaN
656072,0,[],830314.0,tt7188752,en,180以上の女 内田真由,"Super large newcomer appeared! Mayu-chan, a 18...",0,[],[],...,120.0,[],Released,180以上の女 内田真由,False,0.0,0.0,NaN,NaN,NaN
656073,0,[],830315.0,tt0299075,en,Nothing Like Dreaming,A man fires up a propane torch. He sends its f...,0,[],[],...,95.0,[],Released,Nothing Like Dreaming,False,0.0,0.0,NaN,NaN,NaN
656074,0,[],830316.0,tt4833186,en,Freedom & Unity: The Vermont Movie,Freedom & Unity: The Vermont Movie is the firs...,0,[],[],...,920.0,[],Released,Freedom & Unity: The Vermont Movie,False,0.0,0.0,NaN,NaN,NaN

In [28]:
all_genres = []
for genre_dict in data['production_companies']:
   
    try:
        list_represenation = ast.literal_eval(genre_dict)
        genre_list = [ele['name'] for ele in list_represenation]
        all_genres = all_genres + [genre_list]
       
    except:
        genre_list = ['not_found']
        all_genres = all_genres + [genre_list]

In [31]:
data['production_companies']=all_genres

In [32]:
data.head()

,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,title,video,vote_average,vote_count,release_year,release_month,release_day
0,0,"[Drama, Crime, Comedy]",2.0,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,6.656,[Villealfa Filmproductions],"[{'iso_3166_1': 'FI', 'name': 'Finland'}]",...,73.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,Ariel,False,6.8,134.0,1988.0,10.0,21.0
1,0,"[Drama, Comedy]",3.0,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.205,[Villealfa Filmproductions],"[{'iso_3166_1': 'FI', 'name': 'Finland'}]",...,74.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Shadows in Paradise,False,7.2,132.0,1986.0,10.0,17.0
2,4000000,"[Crime, Comedy]",5.0,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,8.307,"[Miramax, A Band Apart]","[{'iso_3166_1': 'US', 'name': 'United States o...",...,98.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Four Rooms,False,5.7,1936.0,1995.0,9.0,12.0
3,21000000,"[Action, Thriller, Crime]",6.0,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",6.944,"[Universal Pictures, Largo Entertainment, JVC]","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",...,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Judgment Night,False,6.4,191.0,1993.0,10.0,15.0
4,42000,[Documentary],8.0,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.652,[inLoops],"[{'iso_3166_1': 'AT', 'name': 'Austria'}]",...,80.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Life in Loops (A Megacities RMX),False,7.4,14.0,2006.0,1.0,1.0

In [35]:
country = []
for con_dict in data['production_countries']:
   
    try:
        list_represenation = ast.literal_eval(con_dict)
        con_list = [ele['name'] for ele in list_represenation]
        country = country + [con_list]
       
    except:
        con_list = ['not_found']
        country = country + [con_list]

In [37]:
data['production_countries']=country

In [42]:
spoken = []
for spoken_dict in data['spoken_languages']:
   
    try:
        list_represenation = ast.literal_eval(spoken_dict)
        spoken_list = [ele['name'] for ele in list_represenation]
        spoken = spoken + [spoken_list]
       
    except:
        spoken_list = ['not_found']
        spoken = spoken + [spoken_list]

In [44]:
data['spoken_languages']=spoken

In [46]:
data.head().T

,0,1,2,3,4
budget,0,0,4000000,21000000,42000
genres,"[Drama, Crime, Comedy]","[Drama, Comedy]","[Crime, Comedy]","[Action, Thriller, Crime]",[Documentary]
id,2,3,5,6,8
imdb_id,tt0094675,tt0092149,tt0113101,tt0107286,tt0825671
original_language,fi,fi,en,en,en
original_title,Ariel,Varjoja paratiisissa,Four Rooms,Judgment Night,Life in Loops (A Megacities RMX)
overview,Taisto Kasurinen is a Finnish coal miner whose...,"An episode in the life of Nikander, a garbage ...",It's Ted the Bellhop's first night on the job....,"While racing to a boxing match, Frank, Mike, J...",Timo Novotny labels his new project an experim...
popularity,6.656,6.205,8.307,6.944,1.652
production_companies,[Villealfa Filmproductions],[Villealfa Filmproductions],"[Miramax, A Band Apart]","[Universal Pictures, Largo Entertainment, JVC]",[inLoops]
production_countries,[Finland],[Finland],[United States of America],"[Japan, United States of America]",[Austria]
revenue,0,0,4.25735e+06,1.21369e+07,0
runtime,73,74,98,110,80
spoken_languages,"[Deutsch, suomi]","[English, svenska, suomi]",[English],[English],"[English, हिन्दी, 日本語, Pусский, Español]"
status,Released,Released,Released,Released,Released
title,Ariel,Shadows in Paradise,Four Rooms,Judgment Night,Life in Loops (A Megacities RMX)
video,False,False,False,False,False
vote_average,6.8,7.2,5.7,6.4,7.4
vote_count,134,132,1936,191,14
release_year,1988,1986,1995,1993,2006
release_month,10,10,9,10,1
release_day,21,17,12,15,1

In [53]:
data.head()

,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,title,video,vote_average,vote_count,release_year,release_month,release_day
0,0,"[Drama, Crime, Comedy]",2.0,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,6.656,[Villealfa Filmproductions],[Finland],...,73.0,"[Deutsch, suomi]",Released,Ariel,False,6.8,134.0,1988.0,10.0,21.0
1,0,"[Drama, Comedy]",3.0,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",6.205,[Villealfa Filmproductions],[Finland],...,74.0,"[English, svenska, suomi]",Released,Shadows in Paradise,False,7.2,132.0,1986.0,10.0,17.0
2,4000000,"[Crime, Comedy]",5.0,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,8.307,"[Miramax, A Band Apart]",[United States of America],...,98.0,[English],Released,Four Rooms,False,5.7,1936.0,1995.0,9.0,12.0
3,21000000,"[Action, Thriller, Crime]",6.0,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",6.944,"[Universal Pictures, Largo Entertainment, JVC]","[Japan, United States of America]",...,110.0,[English],Released,Judgment Night,False,6.4,191.0,1993.0,10.0,15.0
4,42000,[Documentary],8.0,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.652,[inLoops],[Austria],...,80.0,"[English, हिन्दी, 日本語, Pусский, Español]",Released,Life in Loops (A Megacities RMX),False,7.4,14.0,2006.0,1.0,1.0

In [56]:
data.to_csv('data.csv')